* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    font-family: Poppins, sans-serif;
    color: rgba(0, 0, 0, 0.718);
}

h1 {
    font-weight: normal;
    text-align: center;
    padding: 2rem;
}

#gerador {
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-self: center;
    height: 70vh;
    width: 30vw;
    border-radius: 2rem;
    background-color: white;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.366);
}

#container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input[type="checkbox"] {
    accent-color: #b86bff;
    cursor: pointer;
}

#tamanho {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}

input[type="range"] {
    accent-color: #b86bff;
    width: 20vw;
    align-self: center;
    cursor: pointer;
}

#senha-gerada {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#senha {
    height: 6vh;
    width: 20vw;
    border-color: rgba(0, 0, 0, 0.174);
    background-color: #f4f4f4;
    align-self: center;
    border-radius: 2rem;
    padding: 0 1rem;
    outline: none;
}

#gerar {
    align-self: center;
    color: white;
    height: 8vh;
    width: 8vw;
    border: none;
    border-radius: 2rem;
    background-color: #b86bff;
}